html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(34, 34, 38);
  font-family: 'Roboto', sans-serif;
}

p {
  color: #fff;
  cursor: default;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  color: #fff;
}

h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #cccccc;
    text-align: center;
    margin: 30px 0;
}

.container {
  padding-top: 15px;
  padding-bottom: 25px;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

#gallery {
  margin-top: 20px;
  margin-bottom: 50px;
}

#gallery:after { 
   content: '';
   display: block; 
   height: 0; 
   clear: both;
}


.cv_styles {
  background-color: white;
  color: black;
}

._photo {
  text-align: center;
  padding-top: 25px;
}

.photo {
  float: left;
  width: 33.333333%;
  padding: 10px;
  box-sizing: border-box;
}
.photo img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 3px solid #fff;
    box-sizing: border-box;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a {
    display: block;
    position: relative;
}

.photo:hover> a:after {
    visibility: visible;
}

.photo figcaption {
    color: #999999;
    text-align: center;
    margin-top: 20px;
}

/*???????????*/
.covers {
    padding-bottom: 0px;
    padding-top: 260px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
}

.highlight {
  color: orange;
}

::selection {
  color: orange;
}

.cv_styles::selection {
  color: black;
}